body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(#65b1bb, #3e7160);
}

canvas {
  background-image: url("bano.jpg");
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 50%;
}
